<!doctype html>
<html>
  <head>
    <title>HashMash - {{ userquery }}</title>
  </head>
  <body background="static/images/grey.jpg">
    <div class="header" style="background-color:white; height:30px; padding-left:5px; padding-bottom:1px;">
      <h3><a>{{ userquery }}</a> </h3>
    </div>
    <br style="clear: left;" />
    <div class="section" style="background-color:white; height:500px; width:650px; float:left; border: 1px solid black; padding-left:5px; overflow-y:scroll; overflow-x:hidden;">
      <h3>List of links</h3>
      <table style="border: 1px solid black; width:620px;">
        <tr>
          <td><font size="3"><b>Clickable Title<b></font></td>
        </tr>
        <tr>
          <td><font size="1">Source</font></td>
        </tr>
      </table>
    </div>
    <div class="preview" style="background-color:white; height:500px; width:650px; float:right; border: 1px solid black; padding-left:5px;">
      <h3>Preview Window</h3>
    </div>
    <br style="clear: left;" />
    <div class="footer" style="background-color:white; height:20px;i float:bottom; padding-left:5px;">
      <h6>Copyrights</h6>
    </div>
  </body>
</html>
