<html>
  <head>
    <title>HashMash</title>
  </head>
  <body background="static/images/grey.jpg">
    <form method="POST">
    <div class="main">
      <center>
        <b>Enter hashtag:</b>
        <br /><br />
        <input type="text" size="50" name="user-query">
        <br /><br />
        <button type="submit" value="Submit">Enter</button>
        <button>Button2</button>
        <br /><br />
      </center>
    </div>
    <div class="tree">
      <center>
        <table width="50%" style="border:1px solid;">
          <tr>
            <td>
              <input type="checkbox" name="Facebook">Facebook
            </td>
            <td>
              <input type="checkbox" name="Twitter">Twitter
            </td>
            <td>
              <input type="checkbox" name="News">News
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" name="Tumblr">Tumblr
            </td>
            <td>
              <input type="checkbox" name="Wordpress">Wordpress
            </td>
            <td>
              <input type="checkbox" name="Magazines">Magazines
            </td>
          </tr>
        </table>
      </center>
    </div>
    </form>
  </body>
</html>
  
